*{
    margin: 0px;
    padding: 0px;
}
.img img{
    height: 400px;
    width: 600px;
  
}
#hr{
    color: rgb(56, 165, 209);
}
.p p{
    position: relative;
    left: 80px;
}
.h h1{
    position: relative;
    left: 25px;
}
.a{
    text-decoration: none;
    color: grey;
    
}
.a:hover{
    color: #0275d8;
    border-bottom: 2px solid #0275d8;
}
.r1{
    
    width: 100%;
 
    
    margin: 80px 0px 0px 0px;
 
}
.bg{
   background-image: url(./images/bg.jpg);
    padding-bottom: 30px;
}
.bg2{
 
    background-image:  url(./images/creative-team-meeting-coffee-shop-business-discussion-portrait-young-people-sitting-around-cafe-laptop-discussing-67173033.jpg);
}
.bg2 img:hover{
    cursor: pointer;
    background-color: grey;
    border-radius:60px;

}

.bg2 img{
    position: relative;
    top: 240px;
    left: 240px;
}
.con2{
    margin-top: 150px;
}
.cl2{
  background-color: white;
  box-shadow: 10px 10px 10px 10px grey;
    width: 170px;
    margin-left: 10px;
}
.cl2:hover{
    cursor: pointer;
    background-color: #0275d8;
    box-shadow: 10px 10px 10px 10px rgb(55, 54, 54);
}
.cl2 i{
    color: #0275d8;
}
.parent:hover.child{
    color: white;
}
.mt{
    margin-top: 50px;
}
.dr{
    background-image: url(./images/world.jpg);
    
}
.crd:hover{
    cursor: pointer;
    border: 1px solid  #0275d8;
}
.down:hover{
    cursor: pointer;
}
.nv{
    
    padding-left: 450px;
}
.nv li a{
    font-weight: 600;
}
.nv li a:hover{
    color: #0275d8;
}
.wl{
    background-color: white;
    height: 90px;
    width: 310px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 90px 0px rgb(188, 187, 187);
    position: relative; 
    bottom: 30px;
    left: 20px;
}
.wl h4{
    padding-left: 80px;
    margin-top: 10px;
}
.wl p{
    padding-left: 75px;
    font-weight: 600;
    color: rgb(91, 88, 88);
}
.ar:hover{
    cursor: pointer;
}
.cr{
    position: relative;
    left: 370px;
    font-size: 30px;
}


/* media qurries */
@media (min-width: 1024px) and (max-width: 1439px){
    .lp{
        width: 300px;
    }
    nav form input{
        height: 40px;
         position: relative;
         top:3px;
    }
    nav form button{
        height: 40px;
        width: 90px;
        position: relative;
        top: 3px;
    }
    .cardd{
        width: 100px;
    }
    .wl{
        width: 300px;
        left: 0px;
    }
  
}


/* mobile media qurries */
@media (min-width: 320px) and (max-width: 425px){
    .cr{
        left: 0px;
    }
    .img img{
        height: 300px;
        width: 300px;
    }
   .p p{
    left: 0px;
   }
  .gurl img{
    width: 300px;
  }
  .grl{
    width: 200px;
  }
.bg2 img{
    left: 0px;
    top: 0px;
}
.wl{
    left: 8px;
    width: 270px;
}

.ic{
    padding-left: 120px;
}
.h1{
    padding-left: 22px;
}
.p1{
    padding-left: 25px;
}
.h2{
    text-align: center;
}
.h3{
    font-size: 18px;
    padding-left: 20px;
}
.grl{
    height: 100px;
}
.h4{
    right: 0;
}
.company{
    padding-left: 80px;
}
.hd5{
    font-size: 10px;
}
.bt{
    position: relative;
    left: 60px;
}
.bg2{
    height: 500px;
}
.con2{
    margin-top: 40px;
}
.mt{
    margin-top: 10px;
}
.hd6{
    padding-left: 90px;
}
.pra1{
    text-align: center;
}
.hd9{
    padding-left: 80px;
}
.sbs{
    display: none;
}
.con2{
    display: none;
} 
}

